body {
    background: url(images/background/background-body.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}


.mt-6 {
    margin-top: 10rem !important;
}

.ms-6 {
    margin-left: 35rem !important;
}

.me-6 {
    margin-right: 35rem !important;
}

.mb-6 {
    margin-bottom: 25rem !important;
}

.mt-7 {
    margin-top: 5rem !important;
}

.ms-7 {
    margin-left: 40rem !important;
}

.me-7 {
    margin-right: 40rem !important;
}

.mb-7 {
    margin-bottom: 17% !important;
}


.imgExemple {
    width: 50%;
}

.logoVerif {
    width: 25px;
    align-items: center;

}

.inputSaisie {
    background: transparent;
    outline: none;
    border: none;
}

input::placeholder {
    color: rgb(97, 74, 74);

}

.labelSubscribe {
    font-weight: bold;
}

.form-control,
.form-control:focus {
    box-shadow: none;
    background: transparent;
    /* outline: none; */
    /* border: none; */
    border-color: black;
}

#divEmailConnexion,
#divPwdConnexion {
    font-weight: 700;

}

.imgAvatar{
    width: 75px;
}

.imgTypeJeu{
    width: 400px;
}

#arrayScoresProfil{
    margin: 10px;
}
#arrayScoresProfil td{
    width: 15vh;
    text-align: center;
}

#arrayMemoryJouer td{
    width: 20vh;
    height: 15vh;
   
}

#arrayMemoryJouer td img{
    cursor: url(images/icons/diamondSword32x.png), url(images/icons/diamondSword.cur), pointer;

}

#arrayScoresJouer td{
    width: 15vh;
    text-align: center;
}



/* ---------- Configuration Responsive 1500px---------- */

@media screen and (max-width: 1500px) {


    /* .divParentNavBar {
        flex-direction: column !important;
        margin-left: 50px !important;
        margin-right: 50px !important;
        justify-content: center !important;
    } */

    /* .divBtnNavBar */

    .divBtnNavBar {
        margin: 10px 20px 10px 20px !important;
    }
    #divMainContent{
        margin: 130px !important;
    }
}

/* ---------- Configuration Responsive 600px---------- */

@media screen and (max-width: 600px) {

    .divParentNavBar {
        flex-direction: column !important;
        margin-left: 50px !important;
        margin-right: 50px !important;
        justify-content: center !important;
    }

 

    .divBtnNavBar {
        margin: 10px 20px 10px 20px !important;
    }




    #divMainContent{
        margin: 30px !important;
        justify-content: flex-start !important;
    }

    #divMainContent.divMainContentConnexion{
        margin: 70px !important;
    }

    #H2MainContent{
        padding: 10px !important;
    }

    #TitleDivMainContent{
        text-align: center !important;
    }

    label{
        font-size: small;
    }
    .BtnConnexion{
        padding: 5px 10px 5px 10px !important;
    }
    span{
        margin: 5px;
    }
    #arrayMemoryJouer td{
        width: 8vh;
        height: 9vh;
    }
}

